

body {
    
    text-align:left;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
    font-size: large;
}
h1 {
    color: rgb(118, 96, 66);
}
h2 {
    font-size: larger;
    font-style: oblique;
}

h3 {
    font-size: larger;
    font-style: normal;
    text-align: left;
}